<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914032289146-p59oeen7a3edu8c2cplqcie8lji5qj9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914032289146-p59oeen7a3edu8c2cplqcie8lji5qj9a</string>
	<key>API_KEY</key>
	<string>AIzaSyAsepjv8_Yqornpqq4KWz-8ygVsBranmWA</string>
	<key>GCM_SENDER_ID</key>
	<string>914032289146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schedulicsAdmin</string>
	<key>PROJECT_ID</key>
	<string>schedulic-63c65</string>
	<key>STORAGE_BUCKET</key>
	<string>schedulic-63c65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914032289146:ios:32c27bb8ca585a321122c3</string>
	<key>DATABASE_URL</key>
	<string>https://schedulic-63c65-default-rtdb.firebaseio.com</string>
</dict>
</plist>